@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js');

body {
    background-color: #fffff6;
}

* 	{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #ddac09;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.footer {
	position: relative;
	background-color: #ddac09;
	color: #ffffff;
	padding: 5px 0;
	text-align: center;
	bottom: 0;
	width: 100%;
	padding-block: 10px;
}

